body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.balloons {
    position: relative;
}

.balloons img {
    width: 200px;
    margin: 10px;
}

#popBalloon {
    position: absolute;
    animation: pop 0.5s ease-out forwards;
    visibility: hidden;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        visibility: hidden;
    }
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
